.punishment-modal
	display block

	&__row
		display flex
		margin 0 0 8px

		&:last-child
			margin-top 20px
			margin-bottom 0

	&__row-description
		display block
		height 34px
		margin 0 8px 0 0
		line-height 34px

		&:last-child
			margin-right 0

	&__row-content
		display block

	&__select
		margin 0 0 4px

		&:last-child
			margin-bottom 0

	&__custom-time
		display flex
		align-items flex-end

		& ^[0]__input
			display inline-block
			width 110px
			margin 0 4px 0 0

			&:last-child
				margin-right 0

	&__checkbox
		margin 0 8px 0 0

		&:last-child
			margin-right 0
