.messages-separator
	position relative
	display block
	text-align center

	&:before
		content ''
		position absolute
		top 50%
		right 16px
		left 16px
		display block
		border-bottom 1px solid var(--secondary-background)

	&__date
		position relative
		z-index 1
		display inline-block
		padding 0 8px
		color var(--secondary-text)
		font-size 12px
		font-weight 600
		background var(--primary-background)
