.message-donation
	position relative
	display flex
	overflow hidden
	max-width 600px
	margin 10px 0 10px 16px
	padding 10px 10px 10px 50px
	color #ffffff
	background linear-gradient(135deg, #e25454, #644191)
	border-radius 5px

	&__logo
		position absolute
		top 0
		left 0
		display flex
		justify-content center
		align-items center
		width 36px
		height 100%
		background rgba(255, 255, 255, .2)

	&__logo-icon
		flex-shrink 0
		width 24px
		height 24px
		fill #ffffff

	&__top
		margin 0 0 4px
		font-style italic
		opacity .9

	&__username
		font-size 16px
		font-weight 700
		text-transform uppercase

	&__amount
		font-size 16px
		font-weight 700
		font-style italic

	&__text
		font-size 14px
		word-break break-word
		opacity .9
