.message
	position relative
	display block
	flex-shrink 0
	min-height 60px
	padding 8px 50px 8px 70px
	line-height 22px

	&_view
		&_compact
			min-height unset
			padding 2px 50px 2px 16px

			& ^[0]
				&__content
					display flex

				&__header
					display flex
					margin-right 8px

				&__timestamp
					margin-right 8px
					margin-left 0

				&__body
					flex-shrink 1

				&__text
					margin-bottom 0
					color var(--primary-text)

				&__avatar
					display none

	&__avatar
		position absolute
		top 33px
		left 20px
		width 40px
		height 40px
		user-select none
		border-radius 50%
		object-fit cover
		object-position center center

		&:first-child
			top 10px

		&_type
			&_default
				font-size 18px
				line-height 40px
				text-align center
				text-transform uppercase
				background rgba(255, 255, 255, .1)
				border-radius 50%

	&__author-name
		display inline-block
		vertical-align middle
		overflow hidden
		max-width 150px
		font-size 14px
		font-weight 600
		white-space nowrap
		text-overflow ellipsis
		cursor pointer

		&:hover
			text-decoration underline

	&__header
		min-height 22px
		font-size 0
		white-space pre-line

	&__timestamp
		display inline
		vertical-align middle
		margin-left 8px
		color var(--gray_300)
		font-size 11px
		white-space nowrap
		cursor default

	&__text
		margin 0 0 6px
		color var(--secondary-text)
		word-break break-word

		&:last-child
			margin-bottom 0

	&__emoji
		vertical-align bottom
		width 24px
		height 24px
		padding 1px
		object-fit contain

	&__body
		flex-shrink 0

	&__image
		display block
		max-width 80%
		height auto
		cursor pointer
		object-fit cover

	&__text
		display block

	&__separator
		position relative
		text-align center

		&:before
			content ''
			position absolute
			top 50%
			right 0
			left 0
			display block
			border-bottom 1px solid var(--secondary-background)

		&-date
			position relative
			z-index 1
			display inline-block
			padding 0 8px
			color var(--secondary-text)
			font-size 12px
			font-weight 600
			background var(--primary-background)
