.register-modal
	display block

	&__row
		text-align center
		clearfix()

	&__link
		display block
		margin 8px 0
		font-size 14px

	&__buttons
		clearfix()

	&__button
		float left

		&:last-child
			float right
			margin-left 10px
