.page
	--error #C0392B
	--gray_20 #FAFAFA
	--gray_40 #F4F4F4
	--gray_50 #F0F0F0
	--gray_100 #E2E2E2
	--gray_200 #C6C6C6
	--gray_300 #AFAFAF
	--gray_400 #959595
	--gray_500 #7A7A7A
	--gray_600 #606060
	--gray_700 #454545
	--gray_800 #2F2F2F
	--gray_900 #1A1A1A
	--gray_950 #0A0A0A
	--green_100 #ff8b8b
	--green_200 #ff8888
	--green_300 #ff6b6b
	--green_400 #ff5d5d
	--green_500 #ff4c4c
	--green_600 #fc2c2c

	&_theme
		&_light
			--primary var(--green_300)
			--primary-dark var(--green_500)
			--primary-light var(--green_200)
			--primary-text var(--gray_800)
			--secondary-text var(--gray_700)
			--accent-text var(--green_300)
			--contrast-text var(--gray_100)
			--primary-background var(--gray_20)
			--secondary-background var(--gray_100)
			--accent-background var(--green_600)
			--contrast-background var(--gray_950)
			--input-background var(--gray_50)
			--input-border var(--gray_50)
			--scrollbar-thumb var(--gray_100)
			--scrollbar-track var(--gray_50)
			--background-hover var(--gray_50)
			--background-active var(--gray_20)
			--shadow rgba(150, 150, 150, .14)

		&_dark
			--primary var(--green_400)
			--primary-dark var(--green_500)
			--primary-light var(--green_200)
			--primary-text var(--gray_100)
			--secondary-text var(--gray_300)
			--accent-text var(--green_200)
			--contrast-text var(--gray_950)
			--primary-background var(--gray_900)
			--secondary-background var(--gray_800)
			--accent-background var(--green_400)
			--contrast-background var(--gray_100)
			--input-background var(--gray_800)
			--input-border var(--gray_800)
			--scrollbar-thumb var(--gray_200)
			--scrollbar-track var(--gray_200)
			--background-hover var(--gray_700)
			--background-active var(--gray_600)
			--shadow rgba(0, 0, 0, .14)
