*,
*:before,
*:after
	box-sizing border-box
	margin 0

#__nuxt,
#__layout
	height 100%

a
	color var(--primary)

	&:hover,
	&:active,
	&:focus
		color var(--primary)
		text-decoration none

.scrollbar
	&::-webkit-scrollbar
		width 10px

	&::-webkit-scrollbar-thumb
		background-color #3f3f3f
		border-radius 20px

	&::-webkit-scrollbar-track
		background-color #202020

.link
	&_no
		&_styles
			color inherit
			text-decoration none

ul
	margin 0
	padding 0
	list-style none

.icon
	max-width 100%
	max-height 100%

.page
	overflow hidden
	height 100%
	min-height 100%

	&__wrapper
		display flex
		flex-direction column
		height 100%

	&__body
		overflow hidden
		height 100%
		min-height 100%
		color var(--primary-text)
		font-family 'Open Sans', sans-serif
		font-size 14px
		line-height 1.4
		background var(--primary-background)

		&_overflow
			&_hidden
				overflow hidden

	&__header
		z-index 99
		width 100%

	&__main
		position relative
		display flex
		overflow hidden
		flex-grow 1

	&__chat
		display flex
		width 100%
		height 100%
		margin 0 26px 0 0

		+above(size-m)
			margin-right 0

	&__footer
		background transparent

	&__aside
		position absolute
		top 0
		right 0
		bottom 0
		overflow hidden auto
		flex-shrink 0
		width 250px
		box-shadow -3px 0 6px rgba(0, 0, 0, .16)
		defaultTransition()

		+above(size-m)
			position relative

		&_state
			&_open
				right -226px

				+above(size-m)
					right 0

				& +
					& ^[0]__aside-button
						right 0

		&-button
			position absolute
			top 0
			right 226px
			bottom 0
			z-index 3
			display flex
			justify-content center
			align-items center
			width 24px
			fill currentColor
			cursor pointer
			background-color var(--gray_700)
			defaultTransition()

			+above(size-m)
				display none

		&-icon
			width 17px
			height 17px
