.edited-message-preview
	display flex
	align-items center
	height 100%
	padding 0 8px

	& > *
		margin 0 14px 0 0

		&:last-child
			margin-right 0

	&__icon
		display block
		flex-shrink 0
		color var(--accent-text)
		cursor pointer
		background transparent
		border none

		& .icon
			display block
			width 24px
			height 24px
			fill currentColor

	&__about
		flex-grow 1
		flex-shrink 1
		min-width 0

	&__title
		color var(--accent-text)
		font-weight 600

	&__text
		overflow hidden
		white-space nowrap
		text-overflow ellipsis

	&__cancel
		display block
		flex-shrink 0
		margin 0
		padding 0
		color var(--primary-text)
		cursor pointer
		background transparent
		border none

		&:hover,
		&:focus-visible
			color var(--accent-text)

		& .icon
			display block
			width 24px
			height 24px
			fill currentColor
