.chat
	position relative
	display flex
	overflow hidden auto
	flex-direction column-reverse
	width 100%
	height 100%
	background var(--primary-background)
	scroll-behavior smooth

	&__messages
		position absolute
		display flex
		justify-content flex-end
		flex-direction column
		width 100%
		min-height 100%
