.request-password-reset-modal
	display block
	max-width 320px

	&__illustration
		margin 0 0 16px
		text-align center

		&:last-child
			margin-bottom 0

	&__image
		display inline-block
		max-height 80px

	&__text
		margin 0 0 16px
		font-size 16px
		text-align center

		&:last-child
			margin-bottom 0
