.login-modal
	display block

	&__row
		text-align center
		clearfix()

	&__link
		display block
		margin 8px 0
		font-size 14px

	&__buttons
		display flex

	&__button
		margin 0 8px 0 0

		&:last-child
			margin-right 0

		&_type
			&_discord
				flex-shrink 0
				margin: 0 0 -4px
				background transparent
				text-decoration none

				&:hover,
				&:active,
				&:focus
					& .icon
						fill #ffffff

				& .icon
					display: block;
					width 40px
					height 40px
					fill #5c6bc0
					defaultTransition(fill)
