.footer
	position relative
	display flex
	height 52px
	padding 10px 12px
	box-shadow 0 -3px 6px var(--shadow)

	&__progress-bar
		position absolute
		top 3px
		right 12px
		left 12px

	&__emoji-panel
		position absolute
		left 12px
		bottom 100%
		overflow-y auto
		max-width 362px
		height 250px
		max-height 250px
		background var(--secondary-background)
		border-radius 5px
		box-shadow 0 0 6px rgba(0, 0, 0, .4)

	&__attach-panel
		position absolute
		left 0
		bottom 100%
		padding 12px 12px 0

	&__input-field
		position relative
		display flex
		overflow hidden
		align-items center
		width 100%
		height 32px
		margin-right 12px
		padding 0 12px
		background-color var(--secondary-background)
		border-radius 5px
		box-shadow 0 0 6px var(--shadow)

		+above(size-m)
			margin-right 0

	&__actions-left
		position relative
		display flex
		align-items center
		flex-shrink 0
		margin-right 12px

	&__actions-button
		display block
		width 24px
		height 24px
		fill var(--primary-text)
		cursor pointer

		&:hover
			fill var(--accent-text)

		&:not(:last-child)
			margin-right 8px

	&__emoji-button
		background-image url('~assets/emoji/faces.png')
		background-position -48px -24px
		background-size 264px 120px
		transform scale(.95)
		image-rendering -webkit-optimize-contrast
		filter grayscale(1)

		&^[0]__actions-button_type_active,
		&:hover
			filter grayscale(0)

	&__attach-button
		transform rotate(225deg)

		&^[0]__actions-button_type_active,
		&:hover
			fill var(--accent-text)

	&__input
		display block
		flex-grow 1
		flex-basis 100%
		width 100%
		height 100%
		margin 0 8px 0 0
		color var(--primary-text)
		background transparent
		border none
		outline none

		&:last-child
			margin-right 0

	&__actions-right
		display flex
		align-items center
		flex-shrink 0

		+above(size-m)
			position absolute
			top 50%
			right 24px
			transform translateY(-50%) rotate(45deg)
