.message-update-input
	display block

	&__input
		flex-grow 1
		flex-basis 100%
		width 100%
		height 100%
		margin 0 8px 0 0
		padding 0 0 0 12px
		color var(--primary-text)
		background var(--secondary-background)
		border none
		border-radius 8px
		outline none

	&__button
		margin 0 16px 0 0
		padding 0
		color var(--gray_100)
		font-size 12px
		background transparent
		border none

		&:last-child
			margin-right 0

		&:hover,
		&:focus
			color #4771f1
