.warning
	display flex
	justify-content space-between
	align-items center
	padding 3px 10px
	color #ffffff
	font-weight 600
	background var(--primary)

	&__button
		width 20px
		height 20px
		padding 0
		color #ffffff
		cursor pointer
		background transparent
		border none
		border-radius 2px
		defaultTransition(color)

		&:hover
			color var(--primary-background)

		&-icon
			fill currentColor
